<div class="flex">
  <form
    class="w-full max-w-lg m-auto mt-10"
    [formGroup]="cvForm"
    (ngSubmit)="onSubmit()"
  >
    <p class="text-3xl font-bold mb-14 text-center">Create Your CV</p>
    <!-- <p class="text-2xl font-bold mb-2">Personal Information</p> -->
    <!-- <hr class="mb-5" /> -->
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 mb-6 md:mb-0 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="firstname"
        >
          First Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="John"
          formControlName="firstName"
        />
        <span
          *ngIf="
            !cvForm.get('firstName')?.valid &&
            cvForm.get('firstName')?.touched &&
            !cvForm.get('firstName')?.dirty
          "
          class="text-red-600 ml-2"
          >This field must not be empty</span
        >
        <span
          *ngIf="cvForm.get('firstName')?.errors?.['minlength']"
          class="text-red-600 ml-2"
          >This field must include at least two characters</span
        >
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="lastname"
        >
          Last Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-last-name"
          type="text"
          placeholder="Doe"
          formControlName="lastName"
        />
        <span
          *ngIf="
            !cvForm.get('lastName')?.valid && cvForm.get('lastName')?.touched
          "
          class="text-red-600 ml-2"
          >This field must include at least one character</span
        >
      </div>
    </div>
    <p class="text-xl mb-2">Contact Information</p>
    <hr class="mb-5" />
    <label
      class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-5"
      for="email"
    >
      Email
    </label>
    <input
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      id="grid-password"
      type="email"
      placeholder="example@gmail.com"
      formControlName="email"
    />
    <span
      *ngIf="
        !cvForm.get('email')?.valid &&
        cvForm.get('email')?.touched &&
        !cvForm.get('email')?.dirty
      "
      class="text-red-600 ml-2"
      >This form cannot be empty</span
    >
    <span
      *ngIf="cvForm.get('email')?.errors?.['pattern']"
      class="text-red-600 ml-2"
      >Please, input a valid email address</span
    >

    <label
      class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-5"
      for="phone"
    >
      Phone
    </label>
    <input
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      id="grid-password"
      type=""
      placeholder="+995 555 55 55 55"
      formControlName="phone"
    />
    <p
      *ngIf="cvForm.get('phone')?.errors?.['pattern']
      "
      class="text-red-600 ml-2"
    >
      Please, enter a valid number
    </p>
    <p
      *ngIf="cvForm.get('phone')?.errors?.['minlength']
      "
      class="text-red-600 ml-2"
    >
      Characters cannot be less than 9
    </p>
    <p
      *ngIf="cvForm.get('phone')?.errors?.['maxlength']
      "
      class="text-red-600 ml-2"
    >
      Characters cannot be more than 12
    </p>
    <p
      *ngIf="
        !cvForm.get('phone')?.valid &&
        cvForm.get('phone')?.touched &&
        !cvForm.get('phone')?.dirty
      "
      class="text-red-600 ml-2"
    >
      This form cannot be empty
    </p>

    <p class="text-xl mb-2 mt-8">Resources</p>
    <hr class="mb-5" />

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="ghlink"
        >
          Github Link
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="https://github.com/yourName"
          formControlName="ghLink"
        />
        <p
          *ngIf="
            !cvForm.get('ghLink')?.valid &&
            cvForm.get('ghLink')?.touched &&
            !cvForm.get('ghlink')?.dirty
          "
          class="text-red-600 ml-2"
        >
          This form cannot be empty
        </p>
        <p
          *ngIf="
            cvForm.get('ghLink')?.errors?.['pattern']
          "
          class="text-red-600 ml-2"
        >
          Please, enter a link to your github account
        </p>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-last-name"
        >
          Linkedin Link
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="linkedin"
          type="text"
          placeholder="https://www.linkedin.com/in/yourProfile"
          formControlName="linkedIn"
        />

        <p
          *ngIf="
            !cvForm.get('linkedIn')?.valid &&
            cvForm.get('linkedIn')?.touched &&
            !cvForm.get('linkedIn')?.dirty
          "
          class="text-red-600 ml-2"
        >
          This form cannot be empty
        </p>
        <p
          *ngIf="
            cvForm.get('linkedIn')?.errors?.['pattern']
          "
          class="text-red-600 ml-2"
        >
          Please, enter a link to your LinkeIn account
        </p>
      </div>
    </div>

    <p class="text-xl mb-2 mt-8">Experience</p>
    <hr class="mb-5" />

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="workplace"
        >
          Place of Work
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Company/business"
          formControlName="workPlace"
        />
        <p
          *ngIf="
            !cvForm.get('workPlace')?.valid &&
            cvForm.get('workPlace')?.touched &&
            !cvForm.get('workPlace')?.dirty
          "
          class="text-red-600 ml-2"
        >
          This form cannot be empty
        </p>
      </div>
      <div class="w-full md:w-1/4 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="workstart"
        >
          From
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-last-name"
          type="number"
          placeholder="2019"
          formControlName="workStart"
        />

        <p
          *ngIf="
            !cvForm.get('workStart')?.valid &&
            cvForm.get('workStart')?.touched &&
            !cvForm.get('workStart')?.dirty
          "
          class="text-red-600 ml-2"
        >
          This form cannot be empty
        </p>
      </div>

      <div class="w-full md:w-1/4 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="workend"
        >
          To
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-last-name"
          type="number"
          placeholder="2021"
          formControlName="workEnd"
        />
        <p
          *ngIf="
            !cvForm.get('workEnd')?.valid &&
            cvForm.get('workEnd')?.touched &&
            !cvForm.get('workEnd')?.dirty
          "
          class="text-red-600 ml-2"
        >
          This form cannot be empty
        </p>
      </div>
    </div>

    <p class="text-xl mb-2 mt-8">Education</p>
    <hr class="mb-5" />

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for=""
        >
          Institution
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          for="institution"
          placeholder="University/College"
          formControlName="institution"
        />
        <p
          *ngIf="
            !cvForm.get('institution')?.valid &&
            cvForm.get('institution')?.touched &&
            !cvForm.get('institution')?.dirty
          "
          class="text-red-600 ml-2"
        >
          This form cannot be empty
        </p>
      </div>
      <div class="w-full md:w-1/4 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        >
          From
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="number"
          placeholder="2019"
          formControlName="eduStart"
        />
        <p
          *ngIf="
            !cvForm.get('eduStart')?.valid &&
            cvForm.get('eduStart')?.touched &&
            !cvForm.get('eduStart')?.dirty
          "
          class="text-red-600 ml-2"
        >
          This form cannot be empty
        </p>
      </div>

      <div class="w-full md:w-1/4 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-last-name"
        >
          To
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="number"
          placeholder="2021"
          formControlName="eduEnd"
        />
        <p
          *ngIf="
            !cvForm.get('eduEnd')?.valid &&
            cvForm.get('eduEnd')?.touched &&
            !cvForm.get('eduEnd')?.dirty
          "
          class="text-red-600 ml-2"
        >
          This form cannot be empty
        </p>
      </div>
    </div>
    <div class="flex">
      <button
        type="submit"
        class="m-auto mt-5 mb-10 focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
        [disabled]="!cvForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
